.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  fill: inherit;
  stroke: inherit;
}



  .icon.svg-icon-arr {
      font-size: 26px;
      width: 1em;
  }




  .icon.svg-icon-arrow-w {
      font-size: 12px;
      width: 1.9166666666666667em;
  }




  .icon.svg-icon-bad {
      font-size: 23px;
      width: 1.3478260869565217em;
  }




  .icon.svg-icon-calendar {
      font-size: 17px;
      width: 1em;
  }




  .icon.svg-icon-call {
      font-size: 15px;
      width: 0.7333333333333333em;
  }




  .icon.svg-icon-hand {
      font-size: 38px;
      width: 0.6052631578947368em;
  }




  .icon.svg-icon-house {
      font-size: 22px;
      width: 1.4090909090909092em;
  }




  .icon.svg-icon-house2 {
      font-size: 14px;
      width: 1.3571428571428572em;
  }




  .icon.svg-icon-okay {
      font-size: 33px;
      width: 1em;
  }




  .icon.svg-icon-phone {
      font-size: 25px;
      width: 0.56em;
  }




  .icon.svg-icon-select {
      font-size: 14px;
      width: 0.6428571428571429em;
  }




  .icon.svg-icon-settings {
      font-size: 14px;
      width: 1em;
  }




  .icon.svg-icon-tooth {
      font-size: 27px;
      width: 1.5925925925925926em;
  }


